 /* element à cacher*/
 #d1{background-color: #EECC4499;}

 #castelle{
    
        width: 200px;
        height: 200px;
        border: 2px solid black;
    
 }
 
 
 
 
 /*Setting Basic Dimensions to give 
        gallary view */
        .container{
            margin: 0 auto;
            width: 50%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            padding: 10%;
        }
        /* .main_view{
            display: flex;
            flex-direction: column;
            width: 700px;
            height: 700px;
        } */

        .main_view{
            width: 100%;
            height: 40rem;
        }
        .main_view img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .side_view{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex:auto;
            flex-direction: row;
        }
        .side_view img{
            width: 9rem;
            height: 7rem;
            object-fit: cover;
            cursor: pointer;
            margin:0.5rem;
            
        }

      


        /* overlay 1*/
 /* .containt1{
    transition: 0.5s;
}
.overlay{
    position: absolute;
    /* top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
}
.text{
    background-color: rgb(17, 17, 17);
    color: #fff;
    font-size: 16px;
    padding: 16px 32px;
    opacity: 0;
}

.containt1:hover img{
    opacity: 0.3;

}
.containt1:hover .text{
    opacity: 1;
}  */